[Desktop Entry]
Exec=msm_kde_notifier
Hidden=false
Name=MSM Notifier
StartupNotify=false
Terminal=false
Type=Application
X-Deepin-GenerateSource=/home/vcatafesta/.config/autostart/msm_kde_notifier.desktop

